*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
}

img{
    width: 55rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
}

/* Media query */
@media (width < 999px)
{
    img{
        width: 18rem;
    }
}